
<h1>Search Tweets</h1>

<h2>tweet buscador por  <%=params[:id]%></h2>

<h2>Concidencias encontradas</h2>
<p><strong>ID:</strong> <%= @tweet.id %></p>
<p><strong>Username:</strong> <%= @tweet.username %></p>
<p><strong>Description:</strong> <%= @tweet.description %></p>
